.env
node_modules/
bin/
reminders.json
users.json
cerpen/raw/texts/per-chapter, use if needed/Unedited-Use If Needed/Unedited/XI-3/FIX dengan segala minusnya/\[FIX\] 8. Pramudya Tuladha Sunu Djati.docx
